// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

body {
  // Dark on Light
  -webkit-font-smoothing: auto;
  // Light on Dark
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  font-size: 100%; // In most browsers, this defaults to 16 pixels
  @media (min-width: 768px) {
    font-size: 112.5%; // = 18 pixels in most browsers
  }
}

// Type Scale
$text-scale: 1.2;

$text-xs: calc(1em / ($text-scale * $text-scale));
$text-sm: calc($text-xs * $text-scale);
$text-md: calc($text-sm * $text-scale);
$text-lg: calc($text-md * $text-scale);
$text-xl: calc($text-lg * $text-scale);
$text-xxl: calc($text-lx * $text-scale);
$text-xxxl: calc($text-xxl * $text-scale);

.text--xxxl {
  font-size: $text-xxxl;
}

h1, .text--xxl{
  font-size: $text-xxl;
}

h2, .text--xl{
  font-size: $text-xl;
}

h3, .text--lg{
  font-size: $text-lg;
}

h4, .text--md {
  font-size: $text-md;
}

.text--sm, small {
    font-size: $text-sm;
}

.text--xs {
    font-size: $text-xs;
}

// Line Height & Spacing
$heading-line-height: 1.2;
$body-line-height: 1.4;

$space-xxxs: 0.25em;
$space-xxs:  0.375em;
$space-xs:   0.5em;
$space-sm:   0.75em;
$space-md:   1.25em;
$space-lg:   2em;
$space-xl:   3.25em;
$space-xxl:  5.25em;
$space-xxxl: 8.5em;

p,
ul li,
ol li {
  line-height: $body-line-height;
  margin-bottom: $space-md;
}

h1, h2, h3, h4 {
  line-height: $heading-line-height;
  margin-bottom: $space-sm;
}

a {
  // Remove default link highlighting
  // TODO: Implement some form of differentiation for links
  color: inherit; /* default colors for links */
  text-decoration: inherit; /* no underline */
}
