.external-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;

  list-style-type: none;

  margin: 0;

  a {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    padding: 0.625em;
    margin: 0.25em;

    .icon-container {
      width: 1.125em;
      height: 1.125em;
      vertical-align: middle;

      svg {
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }

    .link-text {
      padding-left: 0.625em;
    }
  }

  a.show-text {
    // Override link spacing if text exists
    padding: 0;
    margin: 0;
  }
}

.external-links.external-links--vertical {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
