@import './reset';
@import './type';

#app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  #sidebar {
    flex: 0 1 auto;
  }

  #content {
    flex: 1 1 auto;
    padding: 2em;
  }
}
