@import './reset';

// Type
body {
  font-size: 100%; // In most browsers, this defaults to 16 pixels
  @media (min-width: 768px) {
    font-size: 112.5%; // = 18 pixels in most browsers
  }
}

#app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  #sidebar {
    flex: 0 1 auto;
  }

  #content {
    flex: 1 1 auto;
  }
}
