@import './reset';
@import './type';

#app {
  @media only screen and (min-width: 768px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  #menu {
    flex: 0 1 auto;

    @media only screen and (min-width: 768px) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

  #content {
    flex: 1 1 auto;

    main {
      max-width: 30em;
      margin: 2em auto;
    }
  }
}
