@import './breakpoints';

#menu {
  display: flex;
  flex-flow: column nowrap;

  z-index: 1;

  padding-bottom: 1em;

  @include for-md-up {
    height: 100vh;
    width: 14em;
  }

  .brand {
    font-weight: 900;
    font-style: italic;

    margin: 0 1.45rem;
  }

  .nav-list {
    list-style-type: none;

    padding-top: 1.25em;

    @include for-md-up {
      flex: 1 0 auto;
    }

    li {
      font-weight: 900;
      font-style: italic;

      margin-bottom: 0.75em;
    }
  }
}
