#menu {
  height: 100vh;
  width: 15rem;
  z-index: 1;

  background-color: #e54b4b;
  color: #ffffff;

  // Light on Dark
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .brand {
    display: block;

    font-weight: 900;
    font-style: italic;

    padding: 0.5em;
  }

  .nav-list {
    list-style-type: none;

    padding-top: 1.25em;

    li {
      font-weight: 900;
      font-style: italic;

      margin-bottom: 0.75em;
    }
  }

  .external-links {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
