@import './type';
@import './breakpoints';

#menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  z-index: 1;

  padding-bottom: 1em;

  @include for-md-up {
    height: 100vh;
    align-items: flex-start;
    text-align: start;
  }

  .brand {
    font-size: $text-xl;
    font-weight: 900;
    font-style: italic;
    line-height: $heading-line-height;

    margin: 30vh auto 0.5rem;

    @include for-md-up {
      margin: 0.75rem 1.45rem;
    }
  }

  .nav-list {
    list-style-type: none;

    margin: 0 1.45rem 5rem;

    @include for-md-up {
      flex: 1 0 auto;
    }

    li {
      font-weight: 900;
      font-style: italic;

      margin: 0 auto 0.75rem;
    }
  }

  .external-links {
    align-self: stretch;
  }
}
